@use '@angular/material' as mat;

@include mat.core();

$my-primary: mat.define-palette(mat.$purple-palette, 700, 500, 800);
$my-accent: mat.define-palette(mat.$cyan-palette, 300);

$my-theme: mat.define-dark-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
  )
));

@include mat.all-component-themes($my-theme);
