mat-toolbar {
  justify-content: space-between;
}

.page-title {
  font-size: 40px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 23px #fff, 0 0 20px #00d5bd, 0 0 30px #00d5bd, 0 0 30px #00d5bd, 0 0 43px #00d5bd, 0 0 40px #00d5bd;
  }
  to {
    text-shadow: 0 0 33px #24c1ed, 0 0 30px #24c1ed, 0 0 40px #24c1ed, 0 0 40px #24c1ed, 0 0 53px #24c1ed, 0 0 50px #24c1ed;
  }
}

mat-drawer-container {
  height: calc(100vh - 64px);
  background-color: rgb(30, 39, 48);
}

mat-drawer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

mat-drawer {
  width: 30%;
  padding: 30px;
}
