<div class="form-wrapper">
  <div class="comments">
    <div>
      <mat-card
        *ngFor="let message of messages"
        [ngClass]="message.senderName === nameFormControl.value ? 'user-comment' : 'comment'"
      >
        <mat-card-subtitle>{{ message.senderName }}</mat-card-subtitle>
        <mat-card-content>
          <p>{{ message.content }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <form class="form">
    <mat-form-field class="form-field" appearance="fill" color="accent">
      <mat-label>Leave a comment</mat-label>
      <textarea #comment class="textarea" matInput [formControl]="commentFormControl"></textarea>
    </mat-form-field>

    <div class="form-field-wrapper">
      <mat-form-field class="name-input" appearance="fill" color="accent">
        <mat-label>Your name</mat-label>
        <input #name type="name" matInput [formControl]="nameFormControl">
      </mat-form-field>

      <button class="submit-button" mat-stroked-button color="accent" (click)="sendMessage(comment.value, name.value); $event.preventDefault()">Send</button>
    </div>
  </form>
</div>
